<!DOCTYPE html>
<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
       html,body{
         height: 100%;
         font-size: 15px;
       }
       .container{
           height:150vh;
       }
      #map {
        height: 100%;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  <div class="container">
        <div class="row" >
            <div class="col text-center">
                <h4>Vertical Handoff Demos</h4>
            </div>
        </div>

        <div class="h-50 row" >
            <div class="col-9 pl-1">
                <div id="map"></div>
            </div>
            <div class="col-3">
                <div class="row" >
                        Vehicle Speed
                        <input id="speed" class="col-4 input-sm ml-2" type="text" placeholder="1"/>
                </div>
                <div class="row my-1">
                    Custom Preference: top->high
                </div>
                <div class="row">
                    <ul class="list-group my-1" id="preference">
                        <li class="list-group-item py-1" id="cost">Cost</li>
                        <li class="list-group-item py-1" id="quality">Data Quality</li>
                        <li class="list-group-item py-1" id="security">Security</li>
                        <li class="list-group-item py-1" id="bandwidth">Bandwidth</li>
                        <li class="list-group-item py-1" id="consumption">Power Consumption</li>
                    </ul>
                </div>

                <div class="row mt-1">
                    <button type="button" class="btn btn-primary px-2 py-0" onclick="setRoutes(document.getElementById('speed').value);">Start</button>
                </div>

                <div class="row mt-1 pl-2" id="record" style="border: black 1px solid; overflow: auto; display:block;height: 220px;font-size: 15px">

                </div>
            </div>
        </div>

        <div class="row d-flex">
            <div class="col-3">
                <label>distance with bs1</label>
                <p id="distance1"></p>
                <label>bs1 SSR</label>
                <div id="SSR1"></div>
            </div>

            <div class="col-3">
                <label>distance with bs2</label>
                <p id="distance2"></p>
                <label>bs2 SSR</label>
                <div id="SSR2"></div>
            </div>

            <div class="col-3">
                <label>distance with bs3</label>
                <p id="distance3"></p>
                <label>bs3 SSR</label>
                <div id="SSR3"></div>
            </div>

            <div class="col-3">
                <label>distance with bs4</label>
                <p id="distance4"></p>
                <label>bs4 SSR</label>
                <div id="SSR4"></div>
            </div>
        </div>

  </div>


    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIGZQRX8McENBtogNebGRlFlY3OY-_-dg&callback=initMap">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="static/js/signalGenerator.js"></script>
    <script src="static/js/googlemap.js"></script>
  </body>
</html>
